@model List<SubscriptionPackageDTOs>
@using AddResourcessF.PaymentMethod



@section Styles {
    @*
    <link href="~/admin/vendors/datatables.net-bs4/datatables.bootstrap4.css" rel="stylesheet" /> *@
    @*     <link rel="stylesheet" href="path/to/dataTables.bootstrap4.css">
 *@
    @*     <link rel="stylesheet" href="~/Admin/Backend/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
 *@
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css">

}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">@PaymentMethodS.PaymentMethod</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">@PaymentMethodS.DataTableTitle</a></li>
                <li class="breadcrumb-item active" aria-current="page">@PaymentMethodS.DataTableTitle</li>
            </ol>
        </nav>
    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@PaymentMethodS.DataTableTitle</h4>
            <div class="row">
                <div class="col-1">
                    <a href="/Admin/SubscriptionPackage/Edit" class="btn btn-success btn-fw">@PaymentMethodS.New</a>

                </div>

                <div class="col-12">
                    <div id="order-listing_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="order-listing" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>@PaymentMethodS.MethodEname</th>
                                            <th>@PaymentMethodS.MethodAname</th>
                                            <th>@PaymentMethodS.Commission</th>
                                            <th>@PaymentMethodS.Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var Carrier in Model)
                                        {
                                            <tr class="odd">
                                                <td>@Carrier.PackageName</td>
                                                <td>@Carrier.ShippimentCount</td>
                                                <td>@Carrier.NumberOfKiloMeters</td>
                                                <td>@Carrier.TotalWeight</td>


                                                <td class="col-md-4">
                                                    <a asp-controller="PaymentMethod" asp-action="Edit" asp-route-Id="@Carrier.Id"
                                                       class="btn btn-info btn-fw">@PaymentMethodS.Edit</a>


                                                    <button type="button" class="btn btn-danger btn-fw" data-id="@Carrier.Id ">
                                                        @PaymentMethodS.Delete
                                                    </button>

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/app/sherad/alertdelete.js"></script>
    <script src="~/admin/vendors/datatables.net/jquery.datatables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- تحميل SweetAlert2 أولاً -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="~/admin/vendors/datatables.net-bs4/datatables.bootstrap4.js"></script>





    <script>
        $(document).ready(function () {
            $('#order-listing').DataTable({
                "pageLength": 10,
                "lengthMenu": [5, 20, 15, -1],  // 5, 20, 15 أو الكل
                "language": {
                    "search": "@AddResourcessF.ShippingType.ResourceN.Search",
                    "lengthMenu": "@AddResourcessF.ShippingType.ResourceN.Show_MENU_entries",
                    "info": "@PaymentMethodS.ResourceManager",
                    "paginate": {
                        "previous": "@AddResourcessF.ShippingType.ResourceN.Previous",
                        "next": "@AddResourcessF.ShippingType.ResourceN.Next"

                    }

                }
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            // $('.btn-danger').on('click', function (e) {
            $(document).on("click",".btn-danger", function (e) {
                // e.preventdefault();
                var id = $(this).data('id');
                console.log("id to delete:",id);
                var delteurl = '@Url.Action("Delete", "PaymentMethod")';

                console.log(delteurl);
                alerte.ConfirmDelete(function (result) {
                    if (result) {
                        window.location.href = delteurl + '/' + id;
                        $('#btn-danger').DataTable().ajax.reload();
                    }
                });
            });
        });
    </script>

    @if (TempData["MessageType"] != null)
    {
        <script>
            $(document).ready(function () {
                let messagetype = @TempData["MessageType"]
                    console.log(messagetype);
                switch (messagetype) {
                    case 1:
                        alerte.Success('@AddResourcessF.ShippingType.Message.SaveSuccessTitle_', '@AddResourcessF.ShippingType.Message.SaveSuccessMessage');
                        break;
                    case 2:
                        alerte.Error('@AddResourcessF.ShippingType.Message.SaveFailedTitle', '@AddResourcessF.ShippingType.Message.SaveFailedMessage');
                        break;
                    case 3:
                        alerte.Success('@AddResourcessF.ShippingType.Message.DeleteFaliedTitle', '@AddResourcessF.ShippingType.Message.DeleteSuccessMessage');
                        break;
                    case 4:
                        alerte.Error('@AddResourcessF.ShippingType.Message.DeleteFaliedTitle', '@AddResourcessF.ShippingType.Message.DeleteFaliedMessage');
                        break;

                    default:
                        console.log("UnKnow message type");
                        break;



                }

            });

        </script>
    }




}


